html {
    position: relative;
    min-height: 100%;
}

body{
  margin-bottom: 100px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

nav a:hover {
  background-color: #111;
}

a.skip{
	padding:10px;
	text-decoration: none;
  font-family: 'Roboto Slab', serif;
	position: absolute;
    top: -80px;
    transition: top ease-in 1s;
}

a.skip:focus{
	background: white;
	top: 0px;
	border: 1px solid black;
}

.current{
  border: solid white 2px;
}

h1{
  font-family: 'Roboto', sans-serif;;
  font-size: 75px;
  text-align: center;
  margin: 50px 25px 50px 25px;
}

h2{
  font-family:'Roboto Slab', serif;
  font-size: 50px;
}

p{
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}

body.index{
  background: url(https://raw.githubusercontent.com/nisbetst/homework_3/master/images/background.jpg)no-repeat center center fixed;
}

.projects{
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.projects img{
  width: 100%;
  align-self: center;
  margin-bottom: 50px;
}

.projects p{
    margin-bottom: 50px;
}

.mylocal{
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.mylocal h2{
  margin-bottom: 50px;
}

.mylocal p{
  margin-bottom: 50px;
}

.mylocal img{
  width: 100%;
  display: flex;
  border: solid black 2px;
  align-self: center;
  margin-bottom: 50px;
  }

.handoff{
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.handoff h2{
  margin-bottom: 50px;
}

.handoff p{
  margin-bottom: 50px;
}

.handoff img{
  width: 100%;
  align-self: center;
  margin-bottom: 50px;
}

.aboutcontent{
  display: flex;
  flex-direction: column-reverse;
  /* align-items: baseline; */
}

.headshot{
  width: 30%;
  height: 30%;
  align-self: center;
  margin-bottom: 50px
}

.aboutcontent p{
  margin: auto;
  width: 75%
}

.resumecontent{
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
}

iframe{
  height: 1150px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer{
  margin-top: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  }

.footer p{
  padding-top: 11px;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  text-align: center;
}

.fa-linkedin {
  color: white;
}
